# Tuple 
A tuple in Python is an ordered, immutable collection of items.

That means:

Ordered: Elements have a fixed position and can be accessed using an index.

Immutable: Once a tuple is created, its values cannot be changed.

It can store multiple data types in a single variable.

In [1]:
# creating a tuple 
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [ ]:
numbers = tuple([1,2,3,4,5,6,7]) # list ko tuple bna dia
print(numbers)

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
numbers = list((1,2,3,4,5,6,7,8,9)) # tuple ko list bna dia 
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
mixed_tuple = (1,"hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

### Acessing tuple Elements 
You can access elements of a tuple using their index number. Indexing starts from 0.

In [9]:
numbers = (1,2,3,4,5,6,7,8,9,10) # tuple 
print(numbers[0])
print(numbers[2])
print(numbers[-1])

1
3
10

In [12]:
numbers = (1,2,3,4,5,6,7,8,9,10) # tuple 
print(numbers[0:5])
print(numbers[::])
print(numbers[::-1])

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [ ]:
## tuple operations 
numbers = (1,2,3,4,5,6,7,8,9,10)


concatenation_tuple = numbers + mixed_tuple # concatenation means combining two things 

print(concatenation_tuple)
mixed_tuple = (1,"hello", 3.12 , True)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 'hello', 3.12, True)

In [ ]:
mixed_tuple = (1,"hello", 3.12 , True)
repeated = mixed_tuple * 3 # values ko 3 times tupe krgya 
print(repeated)

(1, 'hello', 3.12, True, 1, 'hello', 3.12, True, 1, 'hello', 3.12, True)

In [ ]:
numbers = (1,2,3,4,5)
print(numbers * 3) # same above code

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

### Immutable nature of tuple 
tuple are immutable , meaning their elements cannot be changed once assigned .

In [1]:
lst = [1,2,3,4,5]
print(lst)

lst[1] = "taleeb"
print(lst)

[1, 2, 3, 4, 5]
[1, 'taleeb', 3, 4, 5]

In [2]:
number = (1,2,3,4,5)

number[1] = "taleeb"

print(number)

TypeError: 'tuple' object does not support item assignment

### tuple method 

count()	: Element kitni baar hai


index()	: Element ka first index

In [ ]:
numbers =(1,2,3,4,5,6,7,7)
print(numbers.count(7)) # kitni bar aaya wo btata hai 
print(numbers.index(1)) # index btata hai

2
0

In [ ]:
## Packing and Unpacking tuple 


#packing tuple 
packed_tuple = 1, "taleeb" , 3.14, True # default tuple 
print(packed_tuple)

(1, 'taleeb', 3.14, True)

In [9]:
##unPacking tuple 
a,b,c,d= packed_tuple
print(a)
print(b)
print(c)
print(d)

1
taleeb
3.14
True

In [10]:
## unpacking with * (star)
numbers = (1,2,3,4,5,6)
first, *middle , last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [15]:
## Nested Tuple 

#nested list 
lst = [[1,2,3,4],[5,6,7,8],[1,"Hello", 3.14, "t"]]

print(lst[0][2])
print(lst[2][0:3])

3
[1, 'Hello', 3.14]

In [18]:
lst = [[1,2,3,4],[5,6,7,8],(1,"Hello", 3.14, "t")]

print(lst[2][0:3])

(1, 'Hello', 3.14)

In [22]:
nested_tuple = ((1,2,3),(4,5,6,7),("taleeb",12,True))

print(nested_tuple[2][1:3])

(12, True)

In [24]:
## iterating over nested tuple 
for sub_tuple in nested_tuple:
  for items in sub_tuple:
    print(items , end=" ")
  print()

1 2 3
4 5 6 7
taleeb 12 True

## Conclusion 

Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required . They are commonly used in data structures , functions agruments and return values , and as dictionary keys . understanding how to leverages tuples effectively can improve the efficieny and readability of your python code.

In [ ]:
##sample