# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
# assignment 1 : Create a tuple with the first 10 positive integers. Print the tuple.
tpl = tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [9]:
#assignment 2 : Print the first, middle, and last elements of the tuple created in Assignment 1. 
tpl = tuple(range(1,11))
print(f"first elements :  {tpl[0]}")
print(f"middle elements : {tpl[len(tpl) // 2]}")
print(f"last elements : {tpl[-1]}")

first elements :  1
middle elements : 6
last elements : 10

In [14]:
# assignment 3 :Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1. 
tpl =tuple(range(1,11))
print(f"first three elements :{tpl[:3]}")
print(f"last three element : {tpl[-3:]}")
print(f"index 2 to 5 : {tpl[2:5]}")

first three elements :(1, 2, 3)
last three element : (8, 9, 10)
index 2 to 5 : (3, 4, 5)

In [16]:
#asignment 4 : Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
matrix = (
  (1,2,3),
  (4,5,6),
  (7,8,9)
)

print(f"element at the second row and third column : {matrix[1][2]}")

element at the second row and third column : 6

In [17]:
# assignment 5 : Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
tpl1 = (1,2,3)
tpl2 = (4,5,6)
concatenate = tpl1 +tpl2
print(f" Concantenating two tuple : {concatenate}")

 Concantenating two tuple : (1, 2, 3, 4, 5, 6)

In [26]:
# assignment 6 : Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
tpl = (1,2,3,4,5,5,6,7,8,8,9)
print(f"occurence of elements : {tpl.count(8)}")
print(f"first occurence of elements : {tpl.index(5)}")

occurence of elements : 2
first occurence of elements : 4

In [28]:
# asignment 7 : Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
tpl = ("taleeb", "danish ", "kaif" , "aziz")
a,b,c,d = tpl
print(a)
print(b)
print(c)
print(d)

taleeb
danish
kaif
aziz

In [30]:
# assigment 8 : Convert a list of the first 5 positive integers to a tuple. Print the tuple.
lst = list(range(1,6))
print(f" list : {lst}")

tpl = tuple(lst)
print(f"list convert into tuple : {tpl}")

 list : [1, 2, 3, 4, 5]
list convert into tuple : (1, 2, 3, 4, 5)

In [31]:
# assignment 9 : Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
tpl = ((1,2,3),(4,5,6),(7,8,9))

print(f"tuple of tuples : {tpl}")

tuple of tuples : ((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [36]:
# assigment 10 : Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tpl = tuple(range(1,5))
print(f"tuple :{tpl}")

lst = list(tpl)
lst.append(6)

tpl =tuple(lst)
print(f"resulting tuple : {tpl}")

tuple :(1, 2, 3, 4)
resulting tuple : (1, 2, 3, 4, 6)

In [39]:
# asignment 11 : Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
string = "hello"
tpl = tuple(string)
joined_string = ''.join(tpl)
print(f"join tuple of string : {joined_string}")
print(f"tuple string : {tpl}")

join tuple of string : hello
tuple string : ('h', 'e', 'l', 'l', 'o')

In [41]:
# asignment 12 : Create a dictionary with tuple keys and integer values. Print the dictionary.
dic = {
  ("age"):21,
  ("rollno"):31
}
print(f"dictionary : {dic}")

dictionary : {'age': 21, 'rollno': 31}

In [42]:
# asignment 13 :Create a nested tuple and iterate over the elements, printing each element.
tpl = (
  (1,2,3),
  (4,5,6),
)
for elements in tpl:
  for elem in elements:
    print(elem)

1
2
3
4
5
6

In [43]:
# asigment 14 : Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.
tupl = (1,2,3,4,4,5,6,6,7,8,8,9,9,9)
set1 = set(tupl)
print(f"set:{set1}")

set:{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [44]:
#assigment 15 : Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"sample tuple : {sample_tpl}")
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

sample tuple : (1, 2, 3, 4, 5)
Minimum: 1
Maximum: 5
Sum: 15